<div class="row">
  <div class="col-12">
    <div class="head-title">
      <h2>{{isEditPage ? 'Редактировать продукт' : 'Добавить продукт'}}</h2>
    </div>
  </div>
  <div class="col-12">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="label" for="title">Название</label>
            <input [ngClass]="{'is-invalid': form.get('title').touched && form.get('title').invalid}"
                   class="form-control" formControlName="title" id="title"
                   type="text">
            <div *ngIf="form.get('title')?.touched && form.get('title')?.invalid" class="error-container">
              <div *ngIf=" form.get('title')?.errors?.required" class="error">
                Название обязательное поле
              </div>
              <div *ngIf=" form.get('title')?.errors?.maxlength" class="error">
                Максимальная длинна поля {{form.get('title')?.errors?.maxlength?.requiredLength}} символов
              </div>
              <div *ngIf="form.get('title')?.errors?.minlength" class="error">
                Минимальная длинна поля {{form.get('title')?.errors?.minlength?.requiredLength}} символов
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="label" for="subtitle">Подзаголовок</label>
            <input [ngClass]="{'is-invalid': form.get('subtitle').touched && form.get('subtitle').invalid}"
                   class="form-control" formControlName="subtitle" id="subtitle"
                   type="text">
            <div *ngIf="form.get('subtitle')?.touched && form.get('subtitle')?.invalid" class="error-container">
              <div *ngIf=" form.get('subtitle')?.errors?.required" class="error">
                Подзаголовок обязательное поле
              </div>
              <div *ngIf=" form.get('subtitle')?.errors?.maxlength" class="error">
                Максимальная длинна поля {{form.get('subtitle')?.errors?.maxlength?.requiredLength}} символов
              </div>
              <div *ngIf="form.get('subtitle')?.errors?.minlength" class="error">
                Минимальная длинна поля {{form.get('subtitle')?.errors?.minlength?.requiredLength}} символов
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="label" for="creationDate">Дата создания</label>
            <div class="input-group">
              <input #datepicker="ngbDatepicker"
                     [ngClass]="{'is-invalid': form.get('creationDate').touched && form.get('creationDate').invalid}"
                     class="form-control" formControlName="creationDate"
                     id="creationDate" name="datepicker" ngbDatepicker
                     placeholder=" ">
              <div class="input-group-append">
                <button (click)="datepicker.toggle()" class="btn btn-outline-secondary calendar" type="button"></button>
              </div>
            </div>
            <div *ngIf="form.get('creationDate')?.touched && form.get('creationDate')?.invalid" class="error-container">
              <div *ngIf=" form.get('creationDate')?.errors?.required" class="error">
                Дата создания обязательное поле
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group margin-less">
            <ng-container *ngIf="!imageURL; else imageLoaded">
              <label class="label uploader" for="image">Фото</label>
              <input (change)="showPreview($event)" accept="image/*" class="form-control" formControlName="imageFile"
                     id="image"
                     type="file"/>
            </ng-container>
            <ng-template #imageLoaded>
              <div class="imagePreview">
                <img [alt]="form.value.image" [src]="imageURL">
                <span (click)="clearImage()" class="clear-item"></span>
              </div>
            </ng-template>
            <div *ngIf="form.get('image')?.touched && form.get('image')?.invalid" class="error-container">
              <div *ngIf=" form.get('image')?.errors?.required" class="error">
                Изображение обязательно для загрузки
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="row">
  <div class="col-12">
    <div class="submit-wrapper">
      <div class="btn-item">
        <button (click)="submitForm()" [disabled]="form.invalid"
                class="btn base-btn">{{isEditPage ? 'Обновить' : 'Сохранить'}}</button>
      </div>
      <div class="btn-item">
        <button (click)="cancel()" class="btn base-btn-revert">Отменить</button>
      </div>
    </div>
  </div>
</div>
