/* Gray */
$gray_100: #f4f4f4;
$gray_400: #f8f9fa;
$gray_500: #bababa;
$gray_600: #707070;

/* Black */
$black: #000000;
$black_200: #716f6f;
$black_400: #343434;
/* Red */
$red_400: #D8034F;
/* White */
$white: #fff;
/* Green */

$green_400: #159715;
$green_700: #0d550d;


/* Typography */
$h1-color: $black;
$text-def-color: $black_400;
$text-secondary-color: $gray_500;
$link-active-color: $green_700;
$link-color: $green_400;
$link-color-hover: $green_700;
$link-back-color: $black;

/* Form Fields */
$label-color: $gray_600;
$input-bg-color: $gray_400;
$error-color: $red_400;

/* Buttons */
$btn-color: $white;
$btn-primary-bg: $green_400;
$btn-secondary-bg: $green_700;
$disabled-button-bg: $gray_400;

/* Custom variables */
$font-family-base: FiraSans, sens-serif;
$header-bg-color: $gray_400;
$body-bg-color: $gray_100;
$product-item-border-color: $gray_500;
$separator-bg: $gray_400;

$status-new-bg: $green_400;
$status-ref-bg: $gray_600;
$status-used-bg: $red_400;



